{% load humanize %}
<a href="{{ post.makeUrl }}" target="blank" class="list-group-item list-group-item-action flex-column align-items-center
{% if not post.getAndUpdateReadStatus %}active{% endif %}"
>
    <div class="d-flex w-100 justify-content-between">
     <p class="mb-1" style="margin-right: 20px;">{{ post.markWithoutP | truncatewords:50}}</p>
     <span><img src="{{ post.image }}" class = "rounded" alt=""></span>
    </div>
 <span class="oi oi-calendar"></span>
      	{{ post.created | naturaltime}}
    </span>  
</a>