<!-- {% load humanize %} -->
<a href="{{ notification.getVideoLink }}" target="blank" class="list-group-item list-group-item-action flex-column align-items-center
{% if not notification.read %}active{% endif %}"
>
    <div class="d-flex w-100 justify-content-between">
     <span><img src="{{ notification.image }}"  alt="" height="50" width="50"></span>
     <p class="mb-1" style="margin: 10px;">{{ notification.description | safe | truncatewords:50}} <b> <span style="margin-left: 10px;" class="oi oi-timer">{{ notification.time }}</span></b></p>
     <span><img src="{{ notification.thumbnail }}" class = "rounded" alt="" height="50" width="50"></span>
    </div>
 	
</a>